---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Dhaiwat Pandya">
  <main>
    <img src="/me.jpg" alt="Dhaiwat Pandya" width="100px" class="avi" />
    <h1>Dhaiwat Pandya</h1>
    <h3>Software Engineer @ Fuel Network</h3>

    <a href="https://github.com/dhaiwat10" target="_blank">GitHub</a>
    <br />
    <a href="https://hackmd.io/@dhaiwat10/ByA1tWTgee" target="_blank">CV</a>
    <br />
    <a href="https://twitter.com/dhaiwat10" target="_blank">Twitter</a>
    <br />
    <a href="https://mirror.xyz/dhaiwat.eth" target="_blank">Mirror</a>
    <br />
    <a href="https://dhaiwat.substack.com" target="_blank">Substack</a>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
  }

  .avi {
    border-radius: 100%;
  }
</style>
